* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-background: rgb(82, 129, 228);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: var(--header-background);
    color: whitesmoke;
    height: 5rem;
}

header {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.hamburger {
    display: none;
}

.nav-logo {
    text-align: center;
    transition: all .3s;
}

.nav-links > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links > ul li {
    list-style: none;
    margin-left: 50px;
}

.nav-links > ul li:first-child {
    margin-left: 0;
}

.links a, .nav-logo > h1 > a {
    text-decoration: none;
    color: whitesmoke;
    transition: all .3s;
}

.links a:hover, .nav-logo > h1 > a:hover {
    color: rgb(72, 72, 72);
    cursor: pointer;
}

.nav-sign-ins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#sign-in, #sign-up {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: bold;
    transition: all .3s;
}

#sign-in:hover, #sign-up:hover {
    cursor: pointer;
    background-color: rgb(210, 209, 209);
}

main {
    display: flex;
}

.user-profile {
    border: 2px solid black;
}

.grid-container {
    width: calc(99.2vw - min(25%, 40rem));
    height: 70vh;
}

.profile-section {
    width: min(25%, 40rem);
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile {
   width: 70%;
   line-height: 3rem;
   overflow: auto;
   box-shadow: 2px 2px 6px gray;
   border-radius: 10px;
}

#profile-heading {
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;background-color: var(--header-background);
    color: whitesmoke;
    padding: 10px;
}

#user-details {
    padding: 5px;
}

.bold {
    font-weight: bold;
}

footer {
    border-top: 1px solid rgb(190, 190, 190);
    margin: auto 20px 0 20px;
    padding: 2px 0;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#my-pic {
    border-radius: 50%;
    height: 4rem;
}

.personal-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer-links img {
    height: 30px;
}